@model TestBlog.Models.EntityFramework.Post
@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="is-size-1 has-text-white">Add a post</h1>
    <hr />
    @using (Html.BeginForm("AddPost", "Home", FormMethod.Post, new { @class = "p-5 form has-background-black has-text-white" }))
    {
        <div class="field">
            <label class="label has-text-white">Title</label>
            <div class="control">
                @Html.TextBoxFor(m => m.Title, new { @class = "input" })
            </div>
        </div>
        <div class="field">
            <label class="label has-text-white">Thumbnail link</label>
            <div class="control">
                @Html.TextBoxFor(m => m.Thumbnail, new { @class = "input" })
            </div>
        </div>
        <div class="field">
            <label class="label has-text-white">Image link</label>
            <div class="control">
                @Html.TextBoxFor(m => m.Image, new { @class = "input" })
            </div>
        </div>
        <div class="field">
            <label class="label has-text-white">Body</label>
            <div class="control">
                @Html.TextAreaFor(m => m.Body, new { @class = "textarea" })
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Submit</button>
            </div>
        </div>
        @Html.HiddenFor(m => m.ID)
    }
    @*<form class="p-5 form has-background-black has-text-white" method="post" action="/Home/AddPost">
            <div class="field">
                <label class="label has-text-white">Title</label>
                <div class="control">
                    <input name="name" id="name" class="input" type="text" placeholder="Post title">
                </div>
            </div>
            <div class="field">
                <label class="label has-text-white">Body</label>
                <div class="control">
                    <textarea id="body" name="body" class="textarea" placeholder="The post itself goes here!"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link">Submit</button>
                </div>
            </div>
        </form>*@
</div>

